---
import '@/styles/globals.css'
import { actions } from 'astro:actions'
import { Button } from '@/components/ui/button'
import { UserAvatar } from '@/components/UserAvatar'

const logoutResult = Astro.getActionResult(actions.user.logout)

if (logoutResult && !logoutResult.error) {
	return Astro.redirect(`/login`)
}

if (!Astro.locals.user) {
	return Astro.redirect('/login')
}

const result = await Astro.callAction(actions.user.get, {
	id: Astro.locals.user.id,
})

if (!result || result.error || !result.data) {
	return Astro.redirect('/login')
}

const user = result.data
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<link
			href='https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap'
			rel='stylesheet'
		/>
		<style>
			html,
			body {
				margin: 0;
			}
		</style>
	</head>
	<body>
		<main>
			<h1 class='text-gray-600 font-bold p-10'>Hello, OVA!</h1>

			<UserAvatar user={user} />

			<form method='POST' action={actions.user.logout}>
				<Button type='submit'>Logout</Button>
			</form>
		</main>
	</body>
</html>
